[submodule "litetask"]
	path = litetask
	url = git@bitbucket.org:solo_heart/litetask.git
[submodule "literouter-annotation"]
	path = literouter-annotation
	url = git@bitbucket.org:solo_heart/literouter-annotation.git
[submodule "literouter"]
	path = literouter
	url = git@bitbucket.org:solo_heart/literouter.git
[submodule "literouter-compiler"]
	path = literouter-compiler
	url = git@bitbucket.org:solo_heart/literouter-compiler.git
